@font-face {
  font-family: 'Munson';
  font-style: normal;
  font-weight: normal;
  src: url('./font/munson/munson_roman.otf') format('opentype');
}

@font-face {
  font-family: 'Munson';
  font-style: normal;
  font-weight: bold;
  src: url('./font/munson/munson_bold.otf') format('opentype');
}

@font-face {
  font-family: 'Munson';
  font-style: italic;
  font-weight: normal;
  src: url('./font/munson/munson_italic.otf') format('opentype');
}

:root {
  --dark-primary: #1C1917;
  --primary: #C46427;
  --light-primary: #FCF9F8;
  --light-primary-2: #F8E8DD;
  --light-primary-3: #EEC4AA;
  --success-color: #01550A;
  --danger-color: #A60101;
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--light-primary);

  font-family: 'Munson', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: normal;
}

a {
  color: var(--dark-primary);
}

main {
  max-height: 100vh;
}

#main {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  gap: 0;
  max-height: 93vh;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

ul,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.success {
  color: var(--success-color);
}

.danger {
  color: var(--danger-color);
}

.description {
  font-style: italic;
  line-height: 1.5em;
}

#nav-side,
#nav-bar,
#nav-location,
#content,
#details {
  box-sizing: border-box;
}

#nav-location {
  padding: 0.5em;

  border-left: var(--light-primary-2) 1px solid;
}

#nav-location li {
  margin-top: 0.5em;
  padding: 0.5em;

  background-color: var(--light-primary-2);
  color: var(--dark-primary);

  text-align: center;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 25%);
}

#nav-location li.active {
  background-color: var(--light-primary-3);
}

.details-enabled {
  height: 53vh;
}

#details {
  position: absolute;
  bottom: 0;
  margin-left: 14%;
  width: 71%;
  height: 40vh;
  display: flex;
  justify-content: space-between;
  background-color: var(--light-primary-2);
  color: var(--dark-primary);
  overflow: scroll;
}

#details-content {
  width: 75%;
  padding: 16px;
}

#requirement {
  width: 20%;
  background-color: var(--light-primary-3);
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#requirement .resource-item div,
#requirement h3 {
  margin-bottom: 0.5em;
  line-height: 1.5em;
}

#nav-bar {
  height: 7vh;
  display: flex;
  justify-content: space-evenly;
  color: var(--dark-primary)
}

#nav-bar a {
  text-decoration: none;
}

#nav-bar h1 {
  display: flex;
  margin: 0 2%;
  justify-content: center;
  align-items: center;
  background-color: var(--light-primary);
}

#nav-bar h3 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 2%;
  border-radius: 0 0 10em 0;
  background-color: var(--light-primary-2);
}

#nav-bar ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 0 0 0 10em;
  background-color: var(--light-primary-2);
}

#nav-bar li {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

#nav-bar li progress {
  width: 5em;
  accent-color: var(--success-color);
}

#nav-bar li progress.warn {
  accent-color: var(--danger-color);
}

.resource-item svg {
  width: 1em;
  height: 1em;
}

.resource-item {
  display: flex;
  align-items: flex-start;
  gap: 0.25em;
}

#content {
  padding: 1em;
  overflow: scroll;
}

#nav-side {
  height: 93vh;
  max-width: 14vw;
  padding: 1.5em 1em;
  border-right: var(--light-primary-2) 1px solid;
}

#nav-side ul {
  margin-bottom: 24px;
}

#nav-side li {
  margin: 0.75em 0;
}

.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  width: 20%;
  margin-top: 1.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--light-primary-2);
  cursor: pointer;
  color: var(--dark-primary);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 25%);
}

.item p {
  margin: 0;
  margin-top: 0.5em;
}

.item.active {
  background-color: var(--light-primary-3);
}

a.active {
  color: var(--primary);
  font-weight: bold;
}

#nav-side a:hover {
  color: var(--primary);
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: var(--primary);
  color: white;
  padding: 10px;
  border-radius: 15px;
  font-family: 'Montserrat';
}

button:disabled {
  cursor: no-drop;
  background-color: grey;
}

#map {
  width: 100%;
  height: 80%;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 8em;
  background-color: var(--light-primary-3);
  color: var(--dark-primary);
  padding: 0.25em;
  border-radius: 1em;

  font-weight: normal;

  text-align: center;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 25%);
}

.tooltip-text.bottom {
  top: 100%;
  left: 50%;
  margin-left: -4em;
}