@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --background-color: #120317;
  --light-background-color: #23052E;
  --primary-color: #BA6BD6;
  --light-primary-color: #EBB2FF;
  --secondary-color: #5878EB;
  --light-secondary-color: #6A8BFF;
  --success-color: #00FF00;
  --danger-color: #FF0000;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
  color: var(--primary-color);
}

main {
  max-height: 100vh;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

ul,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.success {
  color: var(--success-color);
}

.danger {
  color: var(--danger-color);
}

#main {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  gap: 0;
  max-height: 93vh;
}

#nav-side,
#nav-bar,
#nav-location,
#content,
#details {
  box-sizing: border-box;
}

#nav-location {
  padding: 8px;
  border-left: var(--light-background-color) 4px solid;
}

#nav-location li {
  background-color: var(--light-background-color);
  color: var(--light-primary-color);
  padding: 8px;
}

.details-enabled {
  height: 63vh;
}

#details {
  position: absolute;
  bottom: 0;
  margin-left: 14%;
  width: 71%;
  height: 30vh;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  background-color: var(--light-background-color);
  color: var(--light-primary-color)
}

#details-content {
  width: 50%;
}

#requirement,
#cost {
  width: 25%;
}

#nav-bar {
  height: 7vh;
  display: flex;
  justify-content: center;
  background-color: var(--light-background-color);
  color: var(--light-primary-color)
}

#nav-bar h1 {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}

#nav-bar h4 {
  width: 40%;
  display: flex;
  align-items: center;
  padding-left: 2%;
}

#nav-bar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}

#content {
  padding: 48px;
}

#nav-side {
  height: 93vh;
  max-width: 14vw;
  padding: 24px 12px;
  border-right: var(--light-background-color) 4px solid;
}

#nav-side ul {
  margin-bottom: 24px;
}

#nav-side li {
  margin: 12px 0;
}

.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  margin-top: 5%;
  width: 20%;
  padding: 8px;
  background-color: var(--light-background-color);
  cursor: pointer;
  color: var(--light-primary-color);
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border-radius: 15px;
  font-family: 'Montserrat';
}

button:disabled {
  cursor: no-drop;
  background-color: grey;
}

#map {
  width: 100%;
  height: 80%;
  cursor: pointer;
}
