main {
  max-height: 100vh;
}

ul,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

#side-nav,
#city-navbar,
#place-nav,
#content,
#details {
  box-sizing: border-box;
}

#side-nav {
  border: solid black 1px;
}

#content {
  padding: 5%;
  border: solid black 1px;
}

#place-nav {
  border: solid black 1px;
}

#main-content {
  height: 93vh;
}

#main-content,
#details {
  display: grid;
  grid-template-columns: 15% 70% 15%;
}

#main-content.details-enabled {
  height: 63vh;
}

#details {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 30vh;
  border: solid black 1px;
}

#city-navbar {
  border: 1px solid black;
  height: 7vh;
  display: flex;
  justify-content: center;
}

#city-navbar h1 {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}

#city-navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  background-color: lightgrey;
}

.list {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.item {
  width: 25%;
  border: solid black 1px;
}

.item h4 {
  cursor: pointer;
}

.item footer {
  display: flex;
  justify-content: space-between;
}
